@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  background-color: #131F31;
  color: var(--home-page-color);
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

:root {
  --home-page-color: rgba(255, 238, 121, 1);
  --about-page-color: white;
}

li {
  list-style-type: none;
}

a {
  color: var(--home-page-color) !important;
}

.containerBackground {
  background: rgba(255, 255, 255, 0.13);
  padding: 3rem 4rem;
}