@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

:root {
  --home-page-color: rgba(255, 238, 121, 1);
  --about-page-color: white;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}